<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title>home page</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!--  <link href="../assets/node_modules/footable/css/footable.bootstrap.min.css" rel="stylesheet"> -->
	<!-- Page CSS -->

	<!--  <link href="dist/css/pages/contact-app-page.css" rel="stylesheet"> -->
	<link href="/dist/css/pages/footable-page.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="/dist/css/style.min.css" rel="stylesheet">
	<link href="/dist/css/pages/floating-label.css" rel="stylesheet">
<link rel="stylesheet"  type="text/css" href="/css/stylehome.css">
<link rel="stylesheet"  type="text/css" href="/css/button.css">
<!-- <script src="dist/popupS.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/popupS.min.css"> -->
</head>
<body> 

    <header>
		<div class="container">
		<div class="logo">
			<img src="/css/logo2.jpeg" width="350" height="100" alt="" title="">
        </div> 
   

		<nav>

			<li><a href="/mainpage">
					Home
				</a></li>
			<li><a href="/about">About </a></li>

			<li><a href="/contact">Contact</a> </li>
			<li><a href="/logout">Log Out</a></li>
		</nav>
     
      </header>
<div class="container">
	<div class="content">
		<h3 align="right" id="c">CLASSROOM CODE: <%= obj.print[0].classroom_code  %></h3> 
		<h2 align="center"> WELCOME TO <u> <%= obj.print[0].subject_name  %></u> CLASSROOM  </h2>
		<div class="bodydiv1">
		   <div class="bodyp1">
			<h1>Continue with the following tasks:</h1><br>
			<form action="/teacher/classroom" method="POST">	<button class="button9"><span>Create Classroom</span> </button></form><br><br><br>
			<form action="/teacher/view_classroom" method="POST">	<button class="button9"><span>My Classrooms</span> </button></form><br><br><br>
			<form action="/teacher/review_result" method="POST">	<button class="button9"><span>Review Result</span> </button></form><br><br><br>
		   </div>
		   <div class="bodyp2-1">
			<h1 align="center">Fill up information about the Quiz:</h1><hr>
			<form action="/controllers/quiz_details1" method="POST">
  <label for="questio">Total number of questions:</label><br>
  <input type="text" id="questions" name="no_of_questions"><br><br>
  <label for="tim">Total duration:</label><br>
  <input type="text" id="time" name="total_time" ><br><br>
  <label for="marks" id="mark">Total marks:</label><br>
  <input type="text" id="marks" name="total_marks" ><br><br>
  <button class="simp_button">Submit</button>
</form> 

			
				
			</div>       
           
				
					
				
		    </div>
		</div>
			
	</div>
</div>
<script src="/dist/js/custom.min.js"></script>

<script src="/dist/js/pages/jasny-bootstrap.js"></script>
</body>
</html>