<% if (obj=="true") { %>
    <script>
        swal({
icon: 'error',
title: 'Oops...',
text: 'Password deos not match!',
footer: '<a href>Why do I have this issue?</a>'
})			  
   </script>
   <% } %>

   <% if (obj1=="true") { %>
    <script>
        swal({
icon: 'error',
title: 'Oops...',
text: 'Email is not found!',
footer: '<a href>Why do I have this issue?</a>'
})			  
   </script>
   <% } %>