.simp_button
{
	margin-bottom: 28px;
	width: 120px;
	height: 32px;
	background-color: #f44336;
	border:none;
	border-radius: 2px;
	color:#fff;
	font-family: sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.2s ease;
	cursor:pointer;
}

.simp_button:hover,
.simp_button:focus
{
	background:#ff5722;
	transition: 0.2s ease;
}
